body {
	font-family: 'Gelasio', serif;
	margin: 0px;
	padding: 0px;
    background-image: url("../imagenes/fondo.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titulo2 {
	text-align: justify;
	padding: 3%;
	font-size: 3.2vw;
	color: white;
	background-color: rgb(0, 0, 0, 0.7);
}

.subya {
	text-decoration: underline;
}

.movimiento {
	border: 5px inset white;
	float: left;
	width: 35%;
	margin: 1%;
}

.titulo {
	text-align: center;
	padding-top: 4%;
	padding-bottom: 2%;
	padding-left: 4%;
	padding-right: 4%;
	font-size: 7.8vw;
	color: rgb(1, 255, 1);
	background-color: rgb(0, 0, 0, 0.7);
}

.titulo_beneficios {
	text-align: left;
	padding-top: 0%;
	padding-bottom: 0%;
	padding-left: 5%;
	padding-right: 4%;
	font-size: 45px;
	color: rgb(1, 255, 1);
	background-color: rgb(0, 0, 0, 0.7);
}

.contenido {
	float: left;
	font-size: 2.5vw;
	background-color: rgba(255, 255, 255, 0.8);
	padding-right: 2%;
	padding-left: 2%;
}

.barra {
	float: left;
	color: black;
	width: 96%;
	padding-left: 3%;
	padding-top: 1%; 
	padding-bottom: 1%; 
}

.contenedor {
	width: 100%;
	float: left;
}

.recta {
	background-color: rgb(0, 0, 0, 0.7);
	float: left;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.subtitu {
	font-size: 55px;
	color: rgb(1, 255, 1);
}

.texto {
	text-align: justify;
	color: white;
	font-size: 30px;
}

.adaptacion {
	margin: 1%;
	border: 3px inset green;
	border-radius: 40px;
	float: right;
	width: 50%;
}

.separador_tarjetas {

    float: left;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
    
}

.tarjeta_presentacion {

	float: left;
	width: 20%;
	color: white;
	text-align: center;
	margin-left: 2.5%;
	margin-right: 2.5%;

}

.tarjeta_presentacion > i {

	font-size: 60px;

}

.tarjeta_presentacion > p {

	font-size: 25px;

}

@media screen and (max-width: 900px){

	body {

		background: #bdc3c7;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}

	.tarjeta_presentacion {

		width: 45%;

	}

	.tarjeta_presentacion > p {

		font-size: 15px;
	
	}

	.titulo_beneficios {

		font-size: 17px;

	}

}

@media screen and (max-width: 600px){

	.titulo {
		
		padding-top: 6%;

	}

}