.body {
	width: 100%;
	float: left;
	background-color: rgb(0, 0, 0, 0.7);
}

.video {
	margin-left: 5%; 
	margin-top: 2%; 
	margin-bottom: 5%; 
	width: 90%;
	height: 500px;
}

.parrafo_pre_movimiento {

	text-align: center;
	font-size: 40px;
	position: relative;
	z-index: 10;

}

.contenedor_general_promocion {

	float: left;
	overflow-x: hidden;
	z-index: 5;
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.3);

}

.contenedor_general_promocion > div {

	float: left;
	width: 15%;
	left: 42.5%;
	top: 35%;
	z-index: 6;
	position: fixed;
	font-size: 50px;
	cursor: pointer;
	background-color: rgb(0, 153, 51);
	border-radius: 50px;

}

.contenedor_general_promocion > div > i {

	float: left;
	width: 90%;
	margin: 5%;
	text-align: center;
	font-size: 50px;
	cursor: pointer;

}

@media only screen and (max-width: 800px) {
	.video {
		height: 500px;
	}
}

.conteconte {
	margin-top: 6%;
	width: 100%;
	float: left;
}

.pica {
	text-align: center;
	font-size: 60px;
	color: rgb(0, 153, 51);
}

.pica2 {
	margin-left: 5%;
	font-size: 30px;
	color: white;
}

@media only screen and (max-width: 600px) {

	.parrafo_pre_movimiento {
		font-size: 20px;
	}

	.conteconte {
		margin-top: 9%;
	}

	.contenedor_general_promocion > div {

		width: 30%;
		left: 35.5%;

	}

	.contenedor_general_promocion > div > i {

		font-size: 45px;
	
	}
	
}