.etapas {
	width: 92%;
	margin: 2%;
	font-size: 2vw;
	padding: 2%;
	border-radius: 30px;
	background-color: rgb(255, 255, 255, 0.7);
	border: 2px outset white;
	color: black;
	float: left;
}

.centro {
	text-align: center;
}

.empa {
	text-align: justify;
}

.titulitos {
	color: black;
	font-size: 30px;
	text-align: center;
}

.dividor {
	margin: 1%;
	text-align: justify;
	width: 31%;
	float: left;
}

.dividor div {
	font-size: 25px;
}

.letter {
	width: 100%;
	height: 350px;
	float: left;
}

.textoetapa {
	font-size: 25px;
	color: white;
	padding-right: 4%;
	padding-left: 4%; 
	text-align: justify;
}

.negro {
	background-color: rgb(0, 0, 0, 0.7);
	float: left;
}

.inicio {
	width: 100%;
	margin-top: 5%;
	float: left;
	text-align: center;
	color: rgb(1, 255, 1); 
}

.inicio p {
	font-size: 25px; 
}

.tecno {
	font-size: 60px;
	letter-spacing: 10px;
}

.tablita {
	width: 100%;
	float: left;
}

.expancion {
	width: 70%;
	margin: auto 15%;
	margin-bottom: 2%;
}

.titulo3 {
	font-size: 60px;
	padding: 2%;
	text-align: center;
	color: rgb(1, 255, 1); 
}

.sepasepasepa {
	padding-right: 4%;
	padding-left: 4%; 
	font-size: 30px;
	color: white;
	text-align: justify;
}

.normativas {
	padding-right: 4%;
	padding-left: 4%; 
	padding-bottom: 2%;
	font-size: 30px;
	color: white;
	text-align: justify;
}

.normativas2 {
	padding-right: 6%;
	padding-left: 6%; 
	font-size: 30px;
	color: white;
	text-align: justify;
}

p {
	font-size: 1.5vw;
	color: white;
}

.plaquetas {
	float: left;
	width: 100%;
}

.capsula {
	width: 13.66%;
	height: 250px;
	cursor: pointer;
	float: left;
	padding: 1.5%;
}

/* 
	.plaquetas {
	float: left;
	width: 32.6%; 
	} 

	.capsula {
	width: 29.3%;
	height: 250px;
	cursor: pointer;
	float: left;
	padding: 2%;
	}
*/

.centrado {
	text-align: center;
	color: rgb(1, 255, 1); 
	font-size: 40px;
}

.responsive {
	margin: 2%;
	width: 20%;
	height: 240px;
	float: left;
}

.capsula:hover {
	background-color: white;
}

.recall {
	text-align: justify;
	width: 90%;
	padding-right: 5%;
	padding-left: 5%; 
	padding-top: 1%;
	padding-bottom: 1%; 
	font-size: 30px;
	color: white;
}

.tabcontent {
	width: 100%;
	float: left;
    display: none;
}


.perepuripare {
	width: 100%;
	height: 100%;
	float: left;
}

@media only screen and (max-width: 600px) {

	.inicio {
		margin-top: 9%;
	}

	.capsula {
		height: 100px;
	}

	.letter {
	    height: 250px;
	}
}

@media only screen and (max-width: 450px) {
	.responsive {
		height: 100px;
	}
}