.paquete {
	float: left;
	position: fixed;
	width: 4%;
	margin-top: 10%;
}

.enlaze {
	width: 40px;
	height: 40px;
	float: left;
	padding: 2%;
}

.face {
	background-color: blue;
}

.insta {
	background-color: orange;
}

.google {
	background-color: white;
	color: rgb(38, 38, 38);
}

.ask {
	background-color: purple;
}