body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(26, 24, 24);

}

#contenido_ajax {

    margin-top: 3%;

}

.titulo_general {

    padding: 4%;
    background-color: white;
    color: var(--color_titulos_generales);
    text-align: center;

}

@media only screen and (max-width: 600px) {

   .titulo_general {

        padding-top: 15%;

   }

}