.informacion_mate {

    width: 70%;
    margin: 6% auto;
    padding: 5%;
    background-color: rgb(0, 153, 51);
    border-radius: 50px;

}

.informacion_mate > img {

    display: block;
    width: 25%;
    margin: 5% auto;
    animation: rebote_ganador .5s alternate infinite ease-in;

}

.informacion_mate > div {

    display: grid;
    margin-top: 5%;
    grid-template-columns: 20% 20%;
    justify-content: center;
    gap: 5%;

}

.informacion_mate > div > button {

    padding: 5%;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-size: 25px;

}

.informacion_mate > h1 {

    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;

}

@keyframes rebote_ganador {

    0%{
        transform: translateY(-5%);
        transform: rotate(20deg);
    }

    50%{
        transform: rotate(-20deg);
    }

    100%{
        transform: translateY(20%);
    }

}

@media screen and (max-width: 900px){

    .informacion_mate {

        margin: 40% auto;
    
    }

    .informacion_mate > div > button {

        font-size: 20px;

    }

    .informacion_mate > div {

        grid-template-columns: 30% 30%;
    
    }
    

}

@media screen and (max-width: 450px){

    .informacion_mate {

        margin: 60% auto;
    
    }

    .informacion_mate > h1 {

        margin-top: 10%;
        font-size: 15px;

    }

    .informacion_mate > img {

        margin-top: 0%;
        margin-bottom: 10%;

    }

    .informacion_mate > div > button {

        font-size: 10px;

    }

}
