:root {

    /* PROPIEDADES GENERALES */
    --tama単o_casillas         : 90px;
    --tama単o_response         : 45px;
    --tama単o_junior           : 38px;

    /* COLORES DE TEXTOS */
    --color_titulos_claros    : rgb(153, 0, 112);
    --color_titulos_oscuros   : rgb(230, 0, 168);
    --color_prueba_general    : rgb(117, 13, 121);
    --color_titulos_generales : rgb(66, 27, 60);

    /*  FONDOS PANTALLA  */
    --fondo_vi単etas_ventaja   : white;
    
}