<!DOCTYPE html>
<html lang="en">

<head>
     <title>AjedrezDidactico - what</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link type="image/ico" href="https://i.pinimg.com/originals/69/75/f4/6975f4c1d171fb2381162cb72dc899ec.png" rel="icon">
     <link rel="stylesheet" href="../css/nav.css">
     <link rel="stylesheet" href="../css/cargador.css">
     <link rel="stylesheet" href="../css/what.css">
     <link rel="stylesheet" href="../css/iconos.css">
     <link rel="stylesheet" href="../css/footer.css">
     <link rel="stylesheet" href="../css/responsive.css">
     <link rel="stylesheet" href="../css/menu_lateral.css">
     <link rel="stylesheet" href="../css/nuevo_menu/menu.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gelasio&display=swap"> 
     <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>

<body>
     <div class="negro" id="ini">

          <div id="cargar_nav"></div>



          <div id="cargar_footer"></div>


     </div>

     <!-- JS PRINCIPALES -->
     <script src="../js/general/menu.js"></script>
     <script src="../js/general/cargar.js"></script>
     <script src="../js/general/control.js"></script>
</body>

</html>