.corte_criminal {

    display: grid;
    padding: 1% 5%;
    grid-template-columns: 50% 50%;

}

.propiedadesFlxGenerales {

    width: 94%;
    padding: 1%;
    margin: 2%;
    background-color: var(--fondo_viñetas_ventaja);

}

.cortarDerecha {

    display: flex;
    flex-direction: row;
    justify-content: start;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);

}

.cortarIzquierda {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);

}

.informacion {

    padding: 1%;
    width: 85%;
    display: flex;
    flex-direction: column;

}

.informacion > h3 {

    text-align: center;
    color:rgb(117, 13, 121);

}

.informacion > p {

    color: black;
    font-size: 1vw;

}

.espacio_color_prueba {

    background-color: white;

}

@media only screen and (max-width: 600px) {

    .filaContenido {

        flex-direction: column;
    
    }

    .corte_criminal {

        grid-template-columns: 100%;
    
    } 

    .informacion {

        padding: 1% 5%;
    
    }

    .informacion > p {

        text-align: justify;
        font-size: 11px;
    
    }
    
}