.conte_cartilla_flx {

    margin: 0%;
    width: 92%;
    display: flex;
    padding: 0% 4%;
    flex-direction: row;
    justify-content: center;

}

.contenedor_cartilla {

    margin: 0% 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.contenedor_cartilla > i {

    color: var(--color_titulos_generales);
    font-size: 75px;

}

.contenedor_cartilla > p {

    color: var(--color_titulos_generales);
    font-size: 1.1vw;

}

@media only screen and (max-width: 600px) {

    .conte_cartilla_flx {

        flex-direction: column;
    
    }

    .contenedor_cartilla > p {

        font-size: 12px;
    
    }
    
}