<!DOCTYPE html>
<html lang="en">
<head>
  <title>AjedrezDidactico - ejm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="../imagenes/icono.ico">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="../css/cargador.css">
  <link rel="stylesheet" href="../css/ejm.css">
  <link rel="stylesheet" href="../css/iconos.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/responsive.css">
  <link rel="stylesheet" href="../css/menu_lateral.css">
</head>
<body>

<div class="body">
  
    <div class="menu_lateral" id="menu_desplegar">

        <img src="../imagenes/menu.png" onclick="toggle_menu()" class="ajustar_cerrar">
    
        <a href="index.html" class="labeles">Inicio</a>
        <a href="what.html" class="labeles">Que es?</a>
        <a href="how.html" class="labeles">Jugabilidad</a>
        <a href="ejm.html" class="labeles">Realidad</a>
    
    
    </div>
    
    <div class="navbar">
        <div class="mitadmitad" id="normal">
             <a href="index.html" class="navselec">Inicio</a>
             <a href="what.html" class="navselec">Que es?</a>
             <a href="how.html" class="navselec">Jugabilidad</a>
             <a href="ejm.html" class="navselec">Realidad</a>
        </div>
        <div class="mitadmitad" id="menu">
            <img src="../imagenes/menu.png" onclick="toggle_menu()" class="menu_responsive">
            <div>Aprende en <a id="salida_por_nav" href="https://www.chess.com/">CHESS.com</a></div>
       </div>
    </div>


<div class="conteconte" id="ini">

  <div class="pica">TORNEO DE AJEDREZ EN NORUEGA 2018!!</div>
  <div class="pica2">Partida disputada entre:...</div>
  <div class="pica2">Magnus Carlsen VS Fabiano Caruana</div>
  <div class="pica2">(Actual Campeon del Mundo) VS (Candidado a Campeon del mundo)</div>

</div>


<iframe class="video" src="https://www.youtube.com/embed/rMJlcrLjoUg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>





<div class="final">
  <a id="flecha_arriba" href="#ini"><img class="romeo" src="../imagenes/flecha.png"></a>
  <div class="other">Para mas informacion sobre el ajedrez y poder disfrutar de este fantastico juego ingrese en <a class="direccion" href="https://www.chess.com/">CHESS.COM</a></div>
  <div class="other">Contact: javiermolines.sybven@hotmail.com</div>
</div>



</div>
<script src="../js/menu.js"></script>
</body>
</html>