<!DOCTYPE html>
<html lang="en">

<head>
  <title>AjedrezDidactico - ejm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="../imagenes/icono.ico">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="../css/cargador.css">
  <link rel="stylesheet" href="../css/ejm.css">
  <link rel="stylesheet" href="../css/iconos.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/responsive.css">
  <link rel="stylesheet" href="../css/menu_lateral.css">
  <link rel="stylesheet" href="../css/nuevo_menu/menu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gelasio&display=swap"> 
</head>

<body>

  <div class="body">



    <div id="cargar_nav"></div>


    <div class="conteconte" id="ini">

      <div class="pica">COMIENZO DEL CAMPEONATO MUNDIAL</div>
      <div class="pica2">AJEDREZ BLITZ</div>
      <div class="pica2">Casi 6horas de torneo</div>
      <div class="pica2">Con el actual campos del mundo. Magnus Carlsen</div>

    </div>

    <iframe class="video" src="https://www.youtube.com/embed/i5dDBEbCrbg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


    <div id="cargar_footer"></div>


  </div>
  <script src="../js/menu.js"></script>
  <script src="../js/cargar.js"></script>
</body>

</html>