<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>AjedrezDidactico</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/ico" href="https://i.pinimg.com/originals/69/75/f4/6975f4c1d171fb2381162cb72dc899ec.png" rel="icon">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/cargador.css">
    <link rel="stylesheet" href="../css/iconos.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/menu_lateral.css">
    <link rel="stylesheet" href="../css/nuevo_menu/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gelasio&display=swap"> 
</head>

<body>

    
    <div id="cargar_nav"></div>

    
    <div class="contenedor" id="ini">
        <div class="titulo">CONOCE AL AJEDREZ!!!</div>
        <div class="contenido">
            <!-- <img class="movimiento" src="imagenes/movimiento.gif"> -->
            <div class="barra">EL JUEGO DE LA ESTRATEGIA POR EXCELENCIA, SUPERANDO POR MUCHOS AÑOS LA PRUEBA DEL TIEMPO
            </div>
            <div class="barra">SIENDO UNO DE LOS JUEGOS QUE HOY DIA PERMITEN UN INGRESO ECONOMICO SUSTANCIOSO A LOS
                PROFESIONALES</div>
            <div class="barra">DEJAME COMENTARTE 10 BENEFICIOS QUE OFRECE EL AJEDREZ</div>
        </div>
    </div>

    <div class="recta">
        <div class="subtitu">1. Eleva tu coeficiente intelectual</div>
        <div class="texto">Muchos estudios han demostrado como después de un tiempo jugando sistemáticamente ajedrez
            puede elevarse el Coeficiente Intelectual (CI) de una persona, además de mejorar la capacidad para resolver
            problemas, las habilidades lectoras, de lenguaje, matemáticas y de memorización. Por si fuera poco la
            práctica del ajedrez también favorece el desarrollo de la creatividad y originalidad, ayudando a las
            personas e tomar decisiones más precisas y rápidas en los momentos en que están bajo presión. También se ha
            demostrado que la práctica frecuente ayuda a los estudiantes a mejorar sus notas y favorece la
            concentración.</div>
    </div>

    <div class="recta">
        <div class="subtitu">2. Ayuda a prevenir el Alzheimer</div>
        <div class="texto">El cerebro es un músculo y como tal debe ser ejercitado. Un estudio publicado en The New
            England Journal of Medicine realizado por el doctor Robert Freidland asegura que las personas mayores de 75
            años que durante su vida habían jugado al ajedrez están mucho más preparados para luchar contra el
            Alzheimer, la demencia y otras enfermedades de deterioro mental; contrariamente a lo que sucede con las
            personas que no han ejercitado su mente de ninguna manera, que se vuelven mucho más propensas a que el
            cerebro envejezca más rápido.</div>
    </div>

    <div class="recta">
        <div class="subtitu">3. Ejercita ambos hemisferios cerebrales</div>
        <div class="texto">Según un estudio realizado recientemente por dos investigadores alemanes de la Universidad de
            Tübingen y publicado por la revista PLoS One tanto los jugadores expertos como los novatos utilizan por
            igual los dos hemisferios del cerebro al jugar una partida. Este resultado sorprendió hasta a los propios
            investigadores, ya que éstos pensaban que el lado izquierdo sería el predominante.</div>
    </div>

    <div class="recta">
        <div class="subtitu">4. Mejora la creatividad</div>
        <div class="texto">El doctor Robert Ferguson realizó un estudio denominado “Desarrollo crítico y pensamiento
            creativo a través del ajedrez”, donde comprobó al cabo de 32 semanas que todo el grupo de ajedrecistas
            obtuvo mejoras en todas las áreas de la creatividad, demostrando un significativo crecimiento en lo que
            respecta a la originalidad.El polaco Samuel Reshevsky fue uno de los grandes maestros ajedrecistas de
            América y del mundo. Como aprendió a jugar a los 4 años se ganó el apodo del “niño prodigio del ajedrez”.
        </div>
    </div>

    <div class="recta">
        <div class="subtitu">5. Potencia la memoria</div>
        <div class="texto">Reiterados estudios han logrado demostrar que los estudiantes que practican ajedrez se
            destacan por su buena memoria en todas las asignaturas; y es que obviamente es muy necesario el uso de esta
            habilidad para ser un buen ajedrecista.</div>
    </div>

    <div class="recta">
        <div class="subtitu">6. Ayuda a resolver problemas</div>
        <div class="texto">Jugar ajedrez implica desarrollar esta habilidad como una condición imprescindible, ya que
            además de determinar cómo resolveremos las movidas del partenaire se añaden la dificultad del tiempo.</div>
    </div>

    <div class="recta">
        <div class="subtitu">7. Incrementa la capacidad lectora</div>
        <div class="texto">Un estudio llevado a cabo por el doctor Stuart Margulies en el año 1991 sobre 53 colegios
            primarios de Nueva York demostró que los niños que participaron en el programa de ajedrez durante 2 años
            mejoraron ampliamente su capacidad lectora, sobrepasando la media nacional.</div>
    </div>

    <div class="recta">
        <div class="subtitu">8. Facilita la concentración</div>
        <div class="texto">Esta condición es otra de las esenciales en un jugador, ya que es una disciplina que requiere
            de gran concentración, en la que los competidores pueden quedar absortos durante horas tratando de resolver
            una partida, ignorando todo lo que está pasando a su alrededor en esos momentos.</div>
    </div>

    <div class="recta">
        <div class="subtitu">9. Hace crecer las dendritas</div>
        <div class="texto">Las dendritas son estructuras de las neuronas que están implicadas en la recepción de
            estímulos; la práctica del ajedrez ayuda a que estas conexiones entre neuronas crezcan.</div>
    </div>

    <div class="recta">
        <div class="subtitu">10. Enseña a planificar y hacer previsiones</div>
        <div class="texto">Los juegos de estrategia son una excelente forma de desarrollar la corteza prefrontal, que es
            el área responsable de planificar y anticiparse a los acontecimientos, del autocontrol y del buen juicio;
            por lo que está implicada en la toma de decisiones de cualquier área de la vida.</div>
    </div>


    <div id="cargar_footer"></div>


    <script src="../js/menu.js"></script>
    <script src="../js/cargar.js"></script>
</body>

</html>