<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ajedrez Didactico</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/nav/principal.css">
    <link rel="stylesheet" href="../css/ventajas/fast.css">
    <link rel="stylesheet" href="../css/ventajas/cuerpo.css">
    <link rel="stylesheet" href="../css/who/principal.css">
    <link rel="stylesheet" href="../css/what/principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="image/ico" href="https://i.pinimg.com/originals/69/75/f4/6975f4c1d171fb2381162cb72dc899ec.png"
        rel="icon">
</head>

<body>

    <nav>

        <h2>Ajedrez Didactico</h2>
        <button style="display: none;"><i class="fa fa-navicon"></i></button>

        <div>
            <a href="javascript:void(0)">Inicio</a>
            <a href="javascript:void(0)">Conoceme</a>
            <a href="javascript:void(0)">Desarrollo</a>
            <!--<a href="javascript:void(0)">Juega</a>-->
        </div>

    </nav>

    <div id="contenido_ajax">
        <!--
            CONTENIDO PLASMADO POR CADA VISTA
        -->
    </div>

    <!-- JS PRINCIPALES -->
    <script src="../js/general/cargar.js"></script>
</body>

</html>

<!--

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

-->