<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ajedrez Didactico</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/nav/principal.css">
    <link rel="stylesheet" href="../css/ventajas/fast.css">
    <link rel="stylesheet" href="../css/ventajas/cuerpo.css">
    <link rel="stylesheet" href="../css/chess/index.css">
    <link rel="stylesheet" href="../css/who/principal.css">
    <link rel="stylesheet" href="../css/what/principal.css">
    <link rel="stylesheet" href="../css/what/general.css">
    <link type="image/ico" href="https://i.pinimg.com/originals/69/75/f4/6975f4c1d171fb2381162cb72dc899ec.png" rel="icon">
</head>

<body>

    <nav>

        <h2>Ajedrez Didactico</h2>
        <button style="display: none;"><i class="fa fa-navicon"></i></button>

        <div>
            <a href="javascript:void(0)">Inicio</a>
            <a href="javascript:void(0)">Conoceme</a>
            <a href="javascript:void(0)">Desarrollo</a>
            <a href="javascript:void(0)">Juega</a>
        </div>

    </nav>

    <div id="contenido_ajax">
        <!--
            CONTENIDO PLASMADO POR CADA VISTA
        -->
    </div>

    <!-- JS PRINCIPALES -->
    <script src="../js/general/cargar.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- JS PARA EL TABLERO Y EL JUEGO-->
    <script src="../js/tablero/movimientos.js"></script>
    <script src="../js/tablero/jaque_mate.js"></script>
    <script src="../js/tablero/sistema_jaque.js"></script>
    <script src="../js/tablero/mini_filtros.js"></script>
    <script src="../js/tablero/botones.js"></script>
    <script src="../js/tablero/creacion.js"></script>
    <script src="../js/tablero/funcionalidad.js"></script>
    <script src="../js/tablero/promocion.js"></script>
    <script src="../js/tablero/main.js"></script>
    
</body>

</html>

<!--

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

-->