<!DOCTYPE html>
<html lang="en">
<head>
  <title>AjedrezDidactico - what</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="../imagenes/icono.ico">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="../css/cargador.css">
  <link rel="stylesheet" href="../css/what.css">
  <link rel="stylesheet" href="../css/iconos.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/responsive.css">
  <link rel="stylesheet" href="../css/menu_lateral.css">
 <script src="../js/control.js"></script>
</head>
<body>
<div class="negro" id="ini">

          <div class="menu_lateral" id="menu_desplegar">

                    <img src="../imagenes/menu.png" onclick="cerrar_menu()" class="ajustar_cerrar">
                
                    <a href="index.html" class="labeles">Inicio</a>
                    <a href="what.html" class="labeles">Que es?</a>
                    <a href="how.html" class="labeles">Jugabilidad</a>
                    <a href="ejm.html" class="labeles">Realidad</a>
                
                
                </div>
                
                <div class="navbar">
                    <div class="mitadmitad" id="normal">
                         <a href="index.html" class="navselec">Inicio</a>
                         <a href="what.html" class="navselec">Que es?</a>
                         <a href="how.html" class="navselec">Jugabilidad</a>
                         <a href="ejm.html" class="navselec">Realidad</a>
                    </div>
                    <div class="mitadmitad" id="menu">
                            <img src="../imagenes/menu.png" onclick="abrir_menu()" class="menu_responsive">
                            <div>Aprende en <a id="salida_por_nav" href="https://www.chess.com/">CHESS.com</a></div>
                       </div>
                </div>

<div>




<div class="principal abajo">QUE ES EL AJEDREZ</div>

      <div class="s3s"><img class="adaptacion" id="presentacion_imagen_partida" src="../imagenes/presentacion.jpg">
      El AJEDREZ es un juego entre dos personas, de las cuales, cada uno dispone de 16 piezas móviles que se colocan sobre un tablero dividido en 64 casillas o escaques. En su versión de competición, está considerado como un deporte. Originalmente inventado como un juego para personas, a partir de la creación de computadoras y programas comerciales de ajedrez, una partida de ajedrez puede ser jugada también por una persona contra un programa de ajedrez o por dos programas de ajedrez entre sí. Se juega sobre un tablero cuadriculado de 8×8 casillas, alternadas en colores blanco y negro, que constituyen las 64 posibles posiciones de las piezas para el desarrollo del juego.
      </div>

      <div class="s3s">
      Al principio del juego cada jugador tiene dieciséis piezas: un rey, una dama, dos alfiles, dos caballos, dos torres y ocho peones. Se trata de un juego de estrategia en el que el objetivo es «derrocar» al rey del oponente. Esto se hace amenazando la casilla que ocupa el rey con alguna de las piezas propias sin que el otro jugador pueda proteger a su rey interponiendo una pieza entre su rey y la pieza que lo amenaza, mover su rey a un escaque libre o capturar a la pieza que lo está amenazando, lo que trae como resultado el jaque mate y el fin de la partida. Para clasificar a los jugadores de ajedrez, la FIDE (La Federación Internacional de Ajedrez) utiliza un sistema conocido como ELO.
      </div>

</div>





    
<div>
  <div class="principal">QUE ES EL ELO</div>
      <div class="parra">
          El sistema de puntuación ELO es un método matemático, basado en cálculo estadístico, para calcular la habilidad relativa de los jugadores de deportes como el ajedrez. Debe su nombre a su inventor, el profesor Árpád Élő (1903-1992), un físico estadounidense de origen húngaro, contrariamente a la suposición generalizadamente extendida de que se trata de un acrónimo. A veces se recurre al uso de mayúsculas ELO para distinguir al método respecto de la persona que lo inventó, aunque no es lo usual.
    </div>
</div>



<div class="principal">RANGOS DEL AJEDREZ</div>
<table>
  <tr>
    <th>Rango</th>
    <th>ELO</th>
  </tr>
  <tr>
<tr>
     <td>Pricipiante</td>
     <td>1000 - 1399</td>
  </tr>
<tr>
     <td>Aficionado</td>
     <td>1400 - 1599</td>
     </tr>
<tr>
     <td>Jugador de club medio</td>
     <td>1600 - 1799</td>
</tr>
<tr>
     <td>Jugador de club fuerte</td>
     <td>1800 - 1999</td>
</tr>
<tr>
     <td>Candidata a Maestra (WCM)</td>
     <td>2000 - 2099</td>
</tr>
<tr>
     <td>Maestra FIDE (WFM)</td>
     <td>2100 - 2199</td>
</tr>
<tr>
     <td>Candidato a Maestro (CM)</td>
     <td>2200 - 2299</td>
</tr>
<tr>
     <td>Maestro FIDE (MF)</td>
     <td>2300 - 2399</td>
</tr>
<tr>
     <td>Maestro Internacional (MI)</td>
     <td>2400 - 2499</td>
</tr>
<tr>
     <td>Gran Maestro (GM)</td>
     <td>2500 - 2599</td>
</tr>
<tr>
     <td>Super Gran Maestro</td>
     <td>2600 - 2699</td>
</tr>
<tr>
     <td>Candidato a Campeón del Mundo</td>
     <td>2700 - 2799</td>
</tr>
<tr>
     <td>Campeón del Mundo</td>
     <td>≥ 2800</td>

   </tr>
</table>








<div class="final">
     <a id="flecha_arriba" href="#ini"><img class="romeo" src="../imagenes/flecha.png"></a>
     <div class="other">Para mas informacion sobre el ajedrez y poder disfrutar de este fantastico juego ingrese en <a class="direccion" href="https://www.chess.com/">CHESS.COM</a></div>
     <div class="other">Contact: javiermolines.sybven@hotmail.com</div>
</div>










</div>
<script src="../js/menu.js"></script>
</body>
</html>

