#tablero_principal_ajedrez {

    display: grid;
    grid-template-columns: repeat(8, var(--tamaño_casillas));
    justify-content: center;
    margin-bottom: 2%;

}

#tablero_principal_ajedrez > div {

    height: var(--tamaño_casillas);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#tablero_principal_ajedrez > div > i {

    cursor: pointer;
    font-size: 4vw;

}

#tablero_principal_ajedrez > div > p {

    cursor: pointer;
    font-size: 2.5vw;
    position: absolute;

}

@media only screen and (max-width: 600px) {

    #tablero_principal_ajedrez {

        grid-template-columns: repeat(8, var(--tamaño_response));
    
    }
    
    #tablero_principal_ajedrez > div {
    
        height: var(--tamaño_response);
    
    }

    #tablero_principal_ajedrez > div > i {

        font-size: 24px;
    
    }
    
    #tablero_principal_ajedrez > div > p {
    
        font-size: 20px;
    
    }
    
}

@media only screen and (max-width: 360px) {

    #tablero_principal_ajedrez {

        grid-template-columns: repeat(8, var(--tamaño_junior));
    
    }
    
    #tablero_principal_ajedrez > div {
    
        height: var(--tamaño_junior);
    
    }
    
}