nav {

    float: left;
    background-color: rgb(41, 41, 61); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(41, 41, 61), rgb(26, 26, 26)); /* Standard syntax (must be last) */
    position: fixed;
    width: 100%;
    top: 0px;

}

nav h2 {

    display: none;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: white;

}

.nuevo_menu_desplegar {

    display: none;

}

.direccion_url {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 12.5%);
    padding: 0.5%;
    width: 99.5%;
    transition: all 0.4s ease;

}

.direccion_url > a {

    color: white;
    text-align: center;
    padding: 2%;
    font-size: 20px;
    transition: all 0.4s ease;

}

.direccion_url > a:hover {

    color: rgb(0, 153, 51);

}

/* TABLETAS */
@media screen and (max-width: 850px){
    .direccion_url {

        grid-template-columns: repeat(4, 20%);

    }
}

/* TELEFONOS */
@media screen and (max-width: 600px){

    .fuera_luces {

        max-height: 0;
        overflow: hidden;
    
    }

    .direccion_url {

        grid-template-columns: repeat(6, auto);
        justify-content: unset;
        grid-gap: 0px;

    }

    #parte1, #parte2, #parte3, #parte4 {

        text-align: center;
        grid-column: 1 / 7;

    }

    .nuevo_menu_desplegar {

        float: left;
        display: block;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 153, 51);
        font-size: 40px;
        cursor: pointer;
    
    }

    nav h2 {
        
        line-height: 50px;
        float: left;
        width: 80%;
        display: block;

    }

}

/*

<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 

font-family: 'Press Start 2P', cursive;

*/