.contenido_flx_fases {

    padding: 1% 5%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;

}

.contenido_flx_fases > div {

    display: flex;
    padding: 0% 5%;
    flex-direction: column;
    color: white;

}

.contenido_flx_fases div h3 {

    text-align: center;

}

.contenido_flx_fases div p {

    font-size: 1.2vw;

}

/*  SIGUIENTE  */

.dividir_flx_normas_tablas {

    padding: 0% 5%;
    display: grid;
    background-color: white;
    grid-template-columns: 45% 45%;
    justify-content: space-between;

}

.dividir_flx_normas_tablas > div > h3 {

    text-align: center;

}

.dividir_flx_normas_tablas > div > p {

    text-align: justify;
    font-size: 1.2vw;

}

.dividir_flx_normas_tablas > div > ul {

    font-size: 1.2vw;

}

.contenido_principal_fase { 

    text-align: center;

}

.contenido_principal_fase > p { 

    text-align: center;
    font-size: 1.2vw;

}