.presentador_chess_who {

    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0% 5%;

}

.presentador_chess_who > p {

    text-align: justify;
    font-size: 1.2vw;

}

.presentacion_imagenes {

    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 2% 4%;

}

.presentacion_imagenes > img {

   margin: 1%;
   width: 33%;
   height: 300px;

}

.separador_who_elo {

    background-color: white;
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 2% 5%;
    margin-bottom: 2%;

}

.separador_who_elo > div {

    padding: 0% 2%;

}

.separador_who_elo > div > h3 {

    text-align: center;
    font-size: 2vw;

}

.separador_who_elo > div > table {

    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 1.2vw;

}

.separador_who_elo > div > p {

    text-align: justify;
    font-size: 1.2vw;
}

.separador_who_elo > div > table > th, td {

    width: 50%;

}

@media only screen and (max-width: 600px) {

    .separador_who_elo {

        grid-template-columns: 100%;
    
    }

    .presentacion_imagenes {

        flex-direction: column;
    
    }

    .presentacion_imagenes > img {

        margin: 4% 1%;
        width: 98%;
        height: 140px;
     
     }

    .presentador_chess_who > p {

        font-size: 12px;
    
    }

    .separador_who_elo > div > h3 {

        font-size: 15px;
    
    }

    .separador_who_elo > div > p {

        font-size: 12px;
        
    }
    
    .separador_who_elo > div > table {
    
        font-size: 12px;
    
    }
    
}