<footer id="footer">

    <h3>Contactame</h3>

    <div class="findMe">
        <a target="_black" href="https://github.com/Javiermolines"><i class="fa fa-github"></i>GITHUB</a>
        <a target="_black" href="https://twitter.com/JavierMolines1"><i class="fa fa-twitter"></i>TWITTER</a>
        <a target="_black" href="https://www.linkedin.com/in/jamc"><i class="fa fa-linkedin"></i>LINKEDIN</a>
    </div>

    <div class="copyright">Copyright <strong>&copy;</strong> 2020 AjedrezDidactico, Todos los derechos reservados</div>

</footer>  