<div class="menu_lateral" id="menu_desplegar">

    <img src="../imagenes/menu.png" onclick="cerrar_menu()" class="ajustar_cerrar">

    <div class="menu_del_menu">MENU</div>

    <div id="espacio_para_direcciones">

        <a href="index.html">Inicio</a>
        <a href="what.html">Conocelo</a>
        <a href="how.html">Jugabilidad</a>
        <a href="ejm.html">Realidad</a>

    </div>

</div>

<div class="navbar">
    <div class="mitadmitad" id="normal">
         <a href="index.html" class="navselec">Inicio</a>
         <a href="what.html" class="navselec">Conocelo</a>
         <a href="how.html" class="navselec">Jugabilidad</a>
         <a href="ejm.html" class="navselec">Realidad</a>
    </div>

    <div class="mitadmitad" id="menu">
            <img src="../imagenes/menu.png" onclick="abrir_menu()" class="menu_responsive">
            <div>Visita <a id="salida_por_nav" href="https://www.chess.com/">CHESS.com</a></div>
       </div>
</div>