nav {

    z-index: 999;
    top: 0px;
    left: 0px;
    color: white;
    width: 88%;
    padding: 0% 6%;
    position: fixed;
    background-color: rgb(43, 24, 46);

    display: grid;
    grid-template-columns: repeat(2, 50%);

}

.contenedor_btn_haddler {

    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;

}


.menu_principal {

    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;

}


.menu_principal a {
    
    letter-spacing: 2px;
    color: white;
    padding: 1%;
    margin: 0% 1%;
    text-decoration: none;

}

.menu_principal a:hover {

    color: green;

}

.apagado {

    display: none;

}

button {

    border: none;
    background-color: transparent;

}

.contenedor_btn_haddler > button > i {

    color: white;
    font-size: 20px;

}

@media only screen and (max-width: 600px) {

    nav {

        grid-template-columns: repeat(1, 100%);
    
    }

    .contraido {

        display: none;
    
    }

    .apagado {

        display: block;
    
    }

    .contenedor_btn_haddler {

        justify-content: space-around;

    }

    .menu_principal {

        flex-direction: column;
      
    }

}