nav {

    z-index: 999;
    top: 0px;
    left: 0px;
    color: white;
    width: 88%;
    padding: 0% 6%;
    position: fixed;
    background-color: rgb(43, 24, 46);

    display: grid;
    grid-template-columns: repeat(2, 50%);

}

nav > div {

    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;

}

nav > div > a {

    letter-spacing: 2px;
    color: white;
    padding: 1%;
    margin: 0% 1%;
    text-decoration: none;

}

nav > div > a:hover {

    color: green;

}

.apagado {

    display: none;

}

button {

    border: none;
    background-color: transparent;

}

nav > button > i {

    color: white;
    font-size: 20px;

}

@media only screen and (max-width: 600px) {

    .contraido {

        display: none;
    
    }

    .apagado {

        display: block;
    
    }

    nav > div {

        float: left;
        width: 100%;
        flex-direction: column;
        text-align: center;
    
    }

}