<!--

      TORNEO EJEMPLO YOUTUBE

-->

<div class="contenedor_presentacion_fases_ajedrez">

    <h1 class="titulo_general">COMIENZO DEL CAMPEONATO MUNDIAL</h1>

</div>

<div class="video">

    <iframe src="https://www.youtube-nocookie.com/embed/i5dDBEbCrbg?start=610" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<!--

    TABLERO AJEDREZ

-->

<div class="contenedor_presentacion_fases_ajedrez">

    <h1 class="titulo_general">TABLERO PRACTICA</h1>
    <p>A continuacion se presenta un tablero de ajedrez para que practiques los conceptos vistos en la pagina</p>
    <p>Para mas dudas o experimentar lo fantastico de este juego ve a CHESS.COM</p>
    <p>Puedes jugar con un amigo o tu solo moviento las respectivas piezas de ambos lados.</p>

</div>

<div id="botones_opciones_tablero"></div>
<div id="tablero_principal_ajedrez"></div>