<div>

    <h1 class="titulo_general">CONOCE EL AJEDREZ</h1>

    <div class="conte_cartilla_flx">

        <div class="contenedor_cartilla">
            <i class="fa fa-gears"></i>
            <p>Es el juego de estrategia por excelencia</p>
        </div>

        <div class="contenedor_cartilla">
            <i class="fa fa-bitcoin"></i>
            <p>Permite obtener ganancias a nivel profesional</p>
        </div>

        <div class="contenedor_cartilla">
            <i class="fa fa-line-chart"></i>
            <p>Conocido mundialmente por su presencia a traves del tiempo</p>
        </div>

        <div class="contenedor_cartilla">
            <i class="fa fa-bomb"></i>
            <p>Potencia y mejora tu mente</p>
        </div>

    </div>

    <h2 class="titulo_general">DATOS QUE NO CONOCES SOBRE EL AJEDREZ</h2>

</div>

<div class="corte_criminal">

    <div class="filaContenido cortarDerecha">
        <div class="informacion">
            <h3>Eleva tu coeficiente intelectual</h3>
            <p>Muchos estudios han demostrado como después de un tiempo jugando sistemáticamente ajedrez
                puede elevarse el Coeficiente Intelectual (CI) de una persona, además de mejorar la capacidad para
                resolver
                problemas, las habilidades lectoras, de lenguaje, matemáticas y de memorización. Por si fuera poco la
                práctica del ajedrez también favorece el desarrollo de la creatividad y originalidad, ayudando a las
                personas e tomar decisiones más precisas y rápidas en los momentos en que están bajo presión. También se
                ha
                demostrado que la práctica frecuente ayuda a los estudiantes a mejorar sus notas y favorece la
                concentración.</p>
        </div>
    </div>

    <div class="filaContenido cortarIzquierda">
        <div class="informacion">
            <h3>Ayuda a prevenir el Alzheimer</h3>
            <p>El cerebro es un músculo y como tal debe ser ejercitado. Un estudio publicado en The New
                England Journal of Medicine realizado por el doctor Robert Freidland asegura que las personas mayores de
                75
                años que durante su vida habían jugado al ajedrez están mucho más preparados para luchar contra el
                Alzheimer, la demencia y otras enfermedades de deterioro mental; contrariamente a lo que sucede con las
                personas que no han ejercitado su mente de ninguna manera, que se vuelven mucho más propensas a que el
                cerebro envejezca más rápido.</p>
        </div>
    </div>

    <div class="filaContenido cortarDerecha">
        <div class="informacion">
            <h3>Ejercita ambos hemisferios cerebrales</h3>
            <p>Según un estudio realizado recientemente por dos investigadores alemanes de la Universidad de
                Tübingen y publicado por la revista PLoS One tanto los jugadores expertos como los novatos utilizan por
                igual los dos hemisferios del cerebro al jugar una partida. Este resultado sorprendió hasta a los
                propios
                investigadores, ya que éstos pensaban que el lado izquierdo sería el predominante.</p>
        </div>
    </div>

    <div class="filaContenido cortarIzquierda">
        <div class="informacion">
            <h3>Mejora la creatividad</h3>
            <p>El doctor Robert Ferguson realizó un estudio denominado “Desarrollo crítico y pensamiento
                creativo a través del ajedrez”, donde comprobó al cabo de 32 semanas que todo el grupo de ajedrecistas
                obtuvo mejoras en todas las áreas de la creatividad, demostrando un significativo crecimiento en lo que
                respecta a la originalidad.El polaco Samuel Reshevsky fue uno de los grandes maestros ajedrecistas de
                América y del mundo. Como aprendió a jugar a los 4 años se ganó el apodo del “niño prodigio del
                ajedrez”.</p>
        </div>
    </div>

    <div class="filaContenido cortarDerecha">
        <div class="informacion">
            <h3>Potencia la memoria</h3>
            <p>Reiterados estudios han logrado demostrar que los estudiantes que practican ajedrez se
                destacan por su buena memoria en todas las asignaturas; y es que obviamente es muy necesario el uso de
                esta
                habilidad para ser un buen ajedrecista.</p>
        </div>
    </div>

    <div class="filaContenido cortarIzquierda">
        <div class="informacion">
            <h3>Ayuda a resolver problemas</h3>
            <p>Jugar ajedrez implica desarrollar esta habilidad como una condición imprescindible, ya que
                además de determinar cómo resolveremos las movidas del partenaire se añaden la dificultad del tiempo.
            </p>
        </div>
    </div>

    <div class="filaContenido cortarDerecha">
        <div class="informacion">
            <h3>Incrementa la capacidad lectora</h3>
            <p>Un estudio llevado a cabo por el doctor Stuart Margulies en el año 1991 sobre 53 colegios
                primarios de Nueva York demostró que los niños que participaron en el programa de ajedrez durante 2 años
                mejoraron ampliamente su capacidad lectora, sobrepasando la media nacional.</p>
        </div>
    </div>

    <div class="filaContenido cortarIzquierda">
        <div class="informacion">
            <h3>Facilita la concentración</h3>
            <p>Esta condición es otra de las esenciales en un jugador, ya que es una disciplina que requiere
                de gran concentración, en la que los competidores pueden quedar absortos durante horas tratando de
                resolver
                una partida, ignorando todo lo que está pasando a su alrededor en esos momentos.</p>
        </div>
    </div>

    <div class="filaContenido cortarDerecha">
        <div class="informacion">
            <h3>Hacer crecer las dentrinas</h3>
            <p>Las dendritas son estructuras de las neuronas que están implicadas en la recepción de
                estímulos; la práctica del ajedrez ayuda a que estas conexiones entre neuronas crezcan</p>
        </div>
    </div>

    <div class="filaContenido cortarIzquierda">
        <div class="informacion">
            <h3>Enseña a planificar y hacer previsiones</h3>
            <p>Los juegos de estrategia son una excelente forma de desarrollar la corteza prefrontal, que es
                el área responsable de planificar y anticiparse a los acontecimientos, del autocontrol y del buen
                juicio;
                por lo que está implicada en la toma de decisiones de cualquier área de la vida.</p>
        </div>
    </div>

</div>