
    <div class="contenedor_presentacion_fases_ajedrez">

        <h1 class="titulo_general">FASES DEL AJEDREZ</h1>

        <p>Cada fase de la partida requiere de planteamientos tácticos y estratégicosgeneralmente
            distintos que pueden presentar lo que en el ajedrez se conoce como Variantes (una variante en el ajedrez es
            aquella que comprende una serie de movimientos identificos previamente realizados que permiten un desarrollo
            especifico de las piezas). Esto incrementa mucho la complejidad del juego. Ajedrez es muchos juegos en uno,ya
            que en cada fase de la partida se necesitan de ciertas habilidades que trabajan juntas para optimizar eljuego,
            todas deben ser entrenadas adecuadamente para volverse un excelente ajedrecista, ya que se han presentadocasos
            de jugadores muy fuertes en una fase y más débiles en otras.</p>

        <p>En el ajedrez se consideran tres etapas fundamentales:</p>
  
    </div>

<div class="contenido_flx_fases">

    <div class="fase_mostrar">

        <h3>Aperturas</h3>
        <img src="../imagenes/espanola.png" alt="faltante">
        <p>Comprende las primeras jugadas, donde las piezas van saliendo de sus casillas iniciales. En la
            imagen
            anterior se muestra una Apertura Española.</p>
    </div>

    <div class="fase_mostrar">

        <h3>Medio juego</h3>
        <img src="../imagenes/conflicto.png">
        <p>Es cuando los dos bandos aún tienen muchas piezas y peones, y estos entran en intenso conflicto.
        </p>
    </div>

    <div class="fase_mostrar">

        <h3>Finales</h3>
        <img src="../imagenes/superior.png">
        <p>Ocurre cuando quedan pocas piezas mayores o menores y peones. En la imagen anterior se muestra un
            final
            de dos torres negras contra dama blanca con superioridad de peones.</p>
    </div>

</div>

    <!--
    
        <div>PIEZAS DEL JUEGO</div>
    <div>SELECCIONE PARA DETALLES</div>
    
    <div id="">
        <img title="Peon" src="../imagenes/p.jpg" onclick="mostrar_detalles(this);">
        <img title="Caballo" src="../imagenes/c.jpg" onclick="mostrar_detalles(this);">
        <img title="Alfin" src="../imagenes/a.jpg" onclick="mostrar_detalles(this);">
        <img title="Torre" src="../imagenes/t.jpg" onclick="mostrar_detalles(this);">
        <img title="Dama" src="../imagenes/d.jpg" onclick="mostrar_detalles(this);">
        <img title="Rey" src="../imagenes/r.jpg" onclick="mostrar_detalles(this);">
    </div>
    
    -->

    <div class="dividir_flx_normas_tablas">

        <div>
            <h3>NORMATIVAS RESUMIDAS</h3>
            <p>
                El ajedrez se juega con una sola mano, ya que el uso de ambas sera penalizado. Para jugar, primero se asigna que
                jugador lleva las piezas de un respectivo color, un jugador utiliza las piezas blancas (en ajedrez hablamos de
                piezas no de fichas), y el otro jugador usa las piezas negras. Cada jugador tiene dieciséis piezas al comienzo
                de la partida: un rey, una dama (no se dice reina), dos torres, dos alfiles, dos caballos y ocho peones.Además
                de piezas necesitamos un tablero. El tablero de ajedrez, tiene 64 casillas: ocho filas y ocho columnas. El
                tablero siempre se coloca con una casilla blanca a la derecha.
            </p>
            <p>
                Cada jugador solo puede mover 1 pieza por turno (exceptuando el enroque, ya que para realizarlo se debe mover
                primero el rey y luego torre), se deben de mover las piezas de una manera en la cual te permita desarrollarte
                eficientemente por el tablero y te permita capturar al Rey enemigo y asi ganar la partida (con capturar nos
                referimos a inmovilizar al rey del contrario y asi no pueda escapar a otra casilla o defenderse con otra pieza).
                Pero en determinados casos realizando los movimentos correctos la partida puede quedar en empate (lo que en el
                ajedrez se conoce como Tablas)
            </p>
        </div>

        <div>
            <h3>SITUACIONES DE TABLAS</h3>
            <p>Como todo juego, en el ajedrez se puede ganar o perder, pero en determinados casos se
                puede llegar al empate, y se denomina Tablas. Para llegar a este momento de la partida pueden ocurrir
                diferentes
                cirscuntacias, y esas son:
            </p>
            <ul>
                <li>Por acuerdo común</li>
                <li>Cuando ningún jugador tiene piezas suficientes para dar jaque mate</li>
                <li>Si se repite 3 veces la misma posición de las piezas en el tablero</li>
                <li>Cuando un jugador, sin estar en jaque, no puede realizar en su turno ninguna jugada legal, lo que se
                    denomina tablas por ahogado</li>
                <li>Cuando después de 50 jugadas consecutivas no se ha hecho ninguna captura o se ha avanzado un peón
                </li>
            </ul>
        </div>

    </div>